h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: green;
   text-align: left;
   list-style-type: decimal;
}

.p-style {
   color: red;
   text-align: right;
}